<div ng-init="loadSingle()"></div>
<!--<nav aria-label="breadcrumb" class="breadcrumb-nav">-->
<!--  <ol class="breadcrumb">-->
<!--  	<li class="breadcrumb-item"><a href="{{currentRouteHref}}">{{getTitle('list')}}</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">{{M.TITLE_EDIT_PREFIX}}&nbsp;<spinner></spinner></li>-->
<!--  </ol>-->
<!--</nav>-->
<bread-crumb args='[{ "text": "{{getTitle("list")}}", "link": "{{currentRouteHref}}"}, { "text": "{{M.TITLE_EDIT_PREFIX}}"}]' ></bread-crumb>

<section class="row justify-content-center">
<section class="form-card">
    <div class="card">
    	<div class="card-header"><span class="large">{{mode.toUpperCase()}} {{getTitle('single')}}</span>
	    	<div class="float-right">
			<a href="{{currentRouteHref}}">
				<button type="button" class="btn btn-dark btn-sm">
				    {{M.TITLE_LISTING}}
				</button>
			</a>
			<button type="button" class="btn btn-dark btn-sm" onclick="history.back();">
			    {{M.TITLE_BACK}}
			</button>
		</div>
    	</div>
    	<div class="card-body">
    		<div ng-include src="getTemplate('single-header')"></div>
    		<div ng-include src="getTemplate('edit')" ng-if="!templates['single']"></div>
    		<div ng-include="templates['single']"></div>
            <div class="col-md-6 offset-md-4">
                <button id="saveButton" name="saveButton" type="submit" class="btn btn-success" ng-if="!locked" ng-click="updateSingle()" form="forms.{{resourceName}}Form">
                    {{M.BTN_UPDATE}}
                </button>
                <button id="editButton" name="editButton" type="button" class="btn btn-dark" ng-if="locked"  ng-click="toggleLock()">
                    {{M.BTN_EDIT}}
                </button>
                &nbsp;<spinner></spinner>
            </div>
            <div>&nbsp;</div>
            <div class='col-md-6 offset-md-4'>
		<p class="small col-blue" ng-if="message">{{message}}</p>		
		<p class="small col-red" ng-if="error">{{error}}</p>
            	<div class="alerts-container"></div>
            </div>
            <div ng-include src="getTemplate('single-footer')"></div>
    	</div>
    </div>
</section>
</section>
