	<div class="">
			<div class="modal-header">
                <h4 class="modal-title">
                    {{M.BTN_SET_PASSWORD}}
                </h4>
                <div class="controls">
                	<spinner></spinner>&nbsp;
			        <button type="submit" form="set-password-form" ng-click="setPassword(clickedUser, newUserValues)" class="btn btn-success">{{M.BTN_SAVE}}</button>
			        <button type="button" ng-click="hideSetPasswordDialog()" class="btn btn-light">{{M.BTN_CANCEL}}</button>
                </div>
            </div>
            <div class="modal-body">
            	<div class="custom-modal-content">
				    <form id="set-password-form" ng-submit="setPassword(clickedUser, newUserValues)">
					    <div flex="100" class="flex flex-col">
						    <div class="form-group row">
						      <label for="admin_password">{{M.FIELD_ADMIN_PASSWORD}}</label>
						      <input class="form-control"  name="admin_password" ng-model="newUserValues.admin_password" type="password" required>
						    </div>
						    <div class="form-group row">
						      <label for="password">{{M.FIELD_PASSWORD}}</label>
						      <input class="form-control"  name="password" ng-model="newUserValues.password" type="password" required>
						    </div>
						    <div class="form-group row">
						      <label for="confirm_password">{{M.FIELD_CONFIRM_PASSWORD}}</label>
						      <input class="form-control"  name="confirm_password" ng-model="newUserValues.confirm_password" type="password" required>
						    </div>
						    <div class="form-group row">
								<textarea ng-model="newUserValues.error" type="text" disabled rows="1" style="color:red; background: white; font-size: small; border: 0; width: 100%; resize:none"></textarea>
								<textarea ng-model="newUserValues.success" type="text" disabled rows="1" style="color:green; background: white; font-size: small; border: 0; width: 100%; resize:none"></textarea>
						    </div>
					    </div>
				    </form>   
            	</div>
			</div>	
	</div>