<div class="section">
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <!--<div class="col-md-8">-->
        	<div class="">
                <div class="card login-card">
                    <div class="card-header">{{M.HEADING_FORGOT_PASSWORD}}</div>
                    <div class="card-body">
                        <form name="forms.forgotPasswordForm" ng-submit="forgotPassword()" method="POST">
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">{{M.FIELD_EMAIL_ENTER}}:</label>
                                <div class="col-md-6">
                                    <input type="email" id="email_address" class="form-control" name="email-address" ng-model="email" required autofocus>
                                </div>
				              <div class="col-md-2 small col-red" ng-messages="forms.forgotPasswordForm.email.$error" ng-show="forms.forgotPasswordForm.email.$dirty">
				                <div ng-message="required">{{M.REQUIRED}}</div>
				                <div ng-message="email">{{M.INVALID_EMAIL}}</div>
				              </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{M.BTN_RECOVER}}
                                </button>
                                <a href="#!sign-in" class="btn btn-link">
                                    {{M.LNK_BACK_TO_LOGIN}}
                                </a>
                            </div>
				            <div class='col-md-6 offset-md-4'>
				              <p class="small col-red" ng-if="error">{{error}}</p>
				            </div>
                            
	                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</div>
