<td><a href="#!/{{currentRoute}}/{{item.id}}">{{item.name}}</a></td>
<td><span>{{item.email}}</span></td>
<td>
    <span>{{item.license}}</span>
</td>
<td>
    <span>{{item.validity}}</span>
</td>
<td>
    <span ng-if="item.visible">{{item.org_secret}} <button ng-click="toggleVisibility(item)" class="btn-link no-border">Hide</button></span>
    <button ng-click="toggleVisibility(item)" ng-if="!item.visible" class="btn-link no-border">{{M.BTN_SHOW}}</button>
</td>
<td>
    <button ng-if="checkLicenceValidity(item) && item.license != 'super'" class="btn-link no-border" ng-click="showActivationDialog($event, item)" >
        {{M.BTN_CHANGE_LICENSE}}
    </button>
    <button ng-if="checkLicenceValidity(item) && item.license != 'super'" class="btn-link no-border" ng-click="showSetPasswordDialog($event, item)" >
        {{M.BTN_SET_PASSWORD}}
    </button>
    <button ng-if="!checkLicenceValidity(item) && item.license != 'super'" class="btn-link no-border" ng-click="showActivationDialog($event, item)" >
        {{M.BTN_ACTIVATE}}
    </button>
    <button ng-if="item.license == 'super'" class="btn-link no-border disabled" >
        {{M.NA}}
    </button>
</td>
