<form name="forms.organizationsForm">
	<div class="form-group row">
		<label for="organization_name" class="col-md-4 col-form-label text-md-right">{{M.FIELD_ORGANIZATION}}:</label>
		<div class="col-md-6">
			<input id="organization_name" name="organization_name" type="text" class="form-control" ng-model="data.single.name" required ng-disabled="locked">
		</div>
		<div ng-messages="forms.organizationsForm.organization_name.$error" ng-show="forms.organizationsForm.organization_name.$dirty">
			<div class="small col-red" ng-message="required">{{M.REQUIRED}}</div>
		</div>
	</div>
	<div class="form-group row">
		<label for="organization_email" class="col-md-4 col-form-label text-md-right">Email:</label>
		<div class="col-md-6">
			<input id="organization_email" name="organization_email" type="email" class="form-control" ng-model="data.single.email" required ng-disabled="locked">
		</div>
		<div ng-messages="forms.organizationsForm.organization_email.$error" ng-show="forms.organizationsForm.organization_email.$dirty">
			<div class="small col-red" ng-message="required">{{M.REQUIRED}}</div>
			<div class="small col-red" ng-message="email">{{M.INVALID_EMAIL}}</div>
		</div>
	</div>
	<div class="form-group row">
		<label for="client_secret" class="col-md-4 col-form-label text-md-right">{{M.FIELD_CLIENT_SECRET}}:</label>
		<div class="col-md-6">
			<input id="client_secret" name="client_secret" type="text" class="form-control" ng-model="data.single.org_secret" disabled>
		</div>
	</div>
</form>
