/* Bootstrap Colors */

.col-primary {
	color: #007bff !important;
}

.col-secondary {
	color: #6c757d !important;
}

.col-success {
	color: #28a745 !important;
}

.col-info {
	color: #17a2b8 !important;
}

.col-warning {
	color: #ffc107 !important;
}

.col-danger {
	color: #dc3545 !important;
}

.col-light {
	color: #f8f9fa !important;
}

.col-dark {
	color: #343a40 !important;
}
  
/* CSS Colors */

.col-indianred {
	color: indianred !important;
}

.col-lightcoral {
	color: lightcoral !important;
}

.col-salmon {
	color: salmon !important;
}

.col-darksalmon {
	color: darksalmon !important;
}

.col-lightsalmon {
	color: lightsalmon !important;
}

.col-crimson {
	color: crimson !important;
}

.col-red {
	color: red !important;
}

.col-firebrick {
	color: firebrick !important;
}

.col-darkred {
	color: darkred !important;
}

.col-pink {
	color: pink !important;
}

.col-lightpink {
	color: lightpink !important;
}

.col-hotpink {
	color: hotpink !important;
}

.col-deeppink {
	color: deeppink !important;
}

.col-mediumvioletred {
	color: mediumvioletred !important;
}

.col-palevioletred {
	color: palevioletred !important;
}

.col-lightsalmon {
	color: lightsalmon !important;
}

.col-coral {
	color: coral !important;
}

.col-tomato {
	color: tomato !important;
}

.col-orangered {
	color: orangered !important;
}

.col-darkorange {
	color: darkorange !important;
}

.col-orange {
	color: orange !important;
}

.col-gold {
	color: gold !important;
}

.col-yellow {
	color: yellow !important;
}

.col-lightyellow {
	color: lightyellow !important;
}

.col-lemonchiffon {
	color: lemonchiffon !important;
}

.col-lightgoldenrodyellow {
	color: lightgoldenrodyellow !important;
}

.col-papayawhip {
	color: papayawhip !important;
}

.col-moccasin {
	color: moccasin !important;
}

.col-peachpuff {
	color: peachpuff !important;
}

.col-palegoldenrod {
	color: palegoldenrod !important;
}

.col-khaki {
	color: khaki !important;
}

.col-darkkhaki {
	color: darkkhaki !important;
}

.col-lavender {
	color: lavender !important;
}

.col-thistle {
	color: thistle !important;
}

.col-plum {
	color: plum !important;
}

.col-violet {
	color: violet !important;
}

.col-orchid {
	color: orchid !important;
}

.col-fuchsia {
	color: fuchsia !important;
}

.col-magenta {
	color: magenta !important;
}

.col-mediumorchid {
	color: mediumorchid !important;
}

.col-mediumpurple {
	color: mediumpurple !important;
}

.col-rebeccapurple {
	color: rebeccapurple !important;
}

.col-blueviolet {
	color: blueviolet !important;
}

.col-darkviolet {
	color: darkviolet !important;
}

.col-darkorchid {
	color: darkorchid !important;
}

.col-darkmagenta {
	color: darkmagenta !important;
}

.col-purple {
	color: purple !important;
}

.col-indigo {
	color: indigo !important;
}

.col-slateblue {
	color: slateblue !important;
}

.col-darkslateblue {
	color: darkslateblue !important;
}

.col-mediumslateblue {
	color: mediumslateblue !important;
}

.col-greenyellow {
	color: greenyellow !important;
}

.col-chartreuse {
	color: chartreuse !important;
}

.col-lawngreen {
	color: lawngreen !important;
}

.col-lime {
	color: lime !important;
}

.col-limegreen {
	color: limegreen !important;
}

.col-palegreen {
	color: palegreen !important;
}

.col-lightgreen {
	color: lightgreen !important;
}

.col-mediumspringgreen {
	color: mediumspringgreen !important;
}

.col-springgreen {
	color: springgreen !important;
}

.col-mediumseagreen {
	color: mediumseagreen !important;
}

.col-seagreen {
	color: seagreen !important;
}

.col-forestgreen {
	color: forestgreen !important;
}

.col-green {
	color: green !important;
}

.col-darkgreen {
	color: darkgreen !important;
}

.col-yellowgreen {
	color: yellowgreen !important;
}

.col-olivedrab {
	color: olivedrab !important;
}

.col-olive {
	color: olive !important;
}

.col-darkolivegreen {
	color: darkolivegreen !important;
}

.col-mediumaquamarine {
	color: mediumaquamarine !important;
}

.col-darkseagreen {
	color: darkseagreen !important;
}

.col-lightseagreen {
	color: lightseagreen !important;
}

.col-darkcyan {
	color: darkcyan !important;
}

.col-teal {
	color: teal !important;
}

.col-aqua {
	color: aqua !important;
}

.col-cyan {
	color: cyan !important;
}

.col-lightcyan {
	color: lightcyan !important;
}

.col-paleturquoise {
	color: paleturquoise !important;
}

.col-aquamarine {
	color: aquamarine !important;
}

.col-turquoise {
	color: turquoise !important;
}

.col-mediumturquoise {
	color: mediumturquoise !important;
}

.col-darkturquoise {
	color: darkturquoise !important;
}

.col-cadetblue {
	color: cadetblue !important;
}

.col-steelblue {
	color: steelblue !important;
}

.col-lightsteelblue {
	color: lightsteelblue !important;
}

.col-powderblue {
	color: powderblue !important;
}

.col-lightblue {
	color: lightblue !important;
}

.col-skyblue {
	color: skyblue !important;
}

.col-lightskyblue {
	color: lightskyblue !important;
}

.col-deepskyblue {
	color: deepskyblue !important;
}

.col-dodgerblue {
	color: dodgerblue !important;
}

.col-cornflowerblue {
	color: cornflowerblue !important;
}

.col-mediumslateblue {
	color: mediumslateblue !important;
}

.col-royalblue {
	color: royalblue !important;
}

.col-blue {
	color: blue !important;
}

.col-mediumblue {
	color: mediumblue !important;
}

.col-darkblue {
	color: darkblue !important;
}

.col-navy {
	color: navy !important;
}

.col-midnightblue {
	color: midnightblue !important;
}

.col-cornsilk {
	color: cornsilk !important;
}

.col-blanchedalmond {
	color: blanchedalmond !important;
}

.col-bisque {
	color: bisque !important;
}

.col-navajowhite {
	color: navajowhite !important;
}

.col-wheat {
	color: wheat !important;
}

.col-burlywood {
	color: burlywood !important;
}

.col-tan {
	color: tan !important;
}

.col-rosybrown {
	color: rosybrown !important;
}

.col-sandybrown {
	color: sandybrown !important;
}

.col-goldenrod {
	color: goldenrod !important;
}

.col-darkgoldenrod {
	color: darkgoldenrod !important;
}

.col-peru {
	color: peru !important;
}

.col-chocolate {
	color: chocolate !important;
}

.col-saddlebrown {
	color: saddlebrown !important;
}

.col-sienna {
	color: sienna !important;
}

.col-brown {
	color: brown !important;
}

.col-maroon {
	color: maroon !important;
}

.col-white {
	color: white !important;
}

.col-snow {
	color: snow !important;
}

.col-honeydew {
	color: honeydew !important;
}

.col-mintcream {
	color: mintcream !important;
}

.col-azure {
	color: azure !important;
}

.col-aliceblue {
	color: aliceblue !important;
}

.col-ghostwhite {
	color: ghostwhite !important;
}

.col-whitesmoke {
	color: whitesmoke !important;
}

.col-seashell {
	color: seashell !important;
}

.col-beige {
	color: beige !important;
}

.col-oldlace {
	color: oldlace !important;
}

.col-floralwhite {
	color: floralwhite !important;
}

.col-ivory {
	color: ivory !important;
}

.col-antiquewhite {
	color: antiquewhite !important;
}

.col-linen {
	color: linen !important;
}

.col-lavenderblush {
	color: lavenderblush !important;
}

.col-mistyrose {
	color: mistyrose !important;
}

.col-gainsboro {
	color: gainsboro !important;
}

.col-lightgray {
	color: lightgray !important;
}

.col-silver {
	color: silver !important;
}

.col-darkgray {
	color: darkgray !important;
}

.col-gray {
	color: gray !important;
}

.col-dimgray {
	color: dimgray !important;
}

.col-lightslategray {
	color: lightslategray !important;
}

.col-slategray {
	color: slategray !important;
}

.col-darkslategray {
	color: darkslategray !important;
}

.col-black {
	color: black !important;
}

/* CSS Background Colors */

.bg-indianred {
	background: indianred !important;
}

.bg-lightcoral {
	background: lightcoral !important;
}

.bg-salmon {
	background: salmon !important;
}

.bg-darksalmon {
	background: darksalmon !important;
}

.bg-lightsalmon {
	background: lightsalmon !important;
}

.bg-crimson {
	background: crimson !important;
}

.bg-red {
	background: red !important;
}

.bg-firebrick {
	background: firebrick !important;
}

.bg-darkred {
	background: darkred !important;
}

.bg-pink {
	background: pink !important;
}

.bg-lightpink {
	background: lightpink !important;
}

.bg-hotpink {
	background: hotpink !important;
}

.bg-deeppink {
	background: deeppink !important;
}

.bg-mediumvioletred {
	background: mediumvioletred !important;
}

.bg-palevioletred {
	background: palevioletred !important;
}

.bg-lightsalmon {
	background: lightsalmon !important;
}

.bg-coral {
	background: coral !important;
}

.bg-tomato {
	background: tomato !important;
}

.bg-orangered {
	background: orangered !important;
}

.bg-darkorange {
	background: darkorange !important;
}

.bg-orange {
	background: orange !important;
}

.bg-gold {
	background: gold !important;
}

.bg-yellow {
	background: yellow !important;
}

.bg-lightyellow {
	background: lightyellow !important;
}

.bg-lemonchiffon {
	background: lemonchiffon !important;
}

.bg-lightgoldenrodyellow {
	background: lightgoldenrodyellow !important;
}

.bg-papayawhip {
	background: papayawhip !important;
}

.bg-moccasin {
	background: moccasin !important;
}

.bg-peachpuff {
	background: peachpuff !important;
}

.bg-palegoldenrod {
	background: palegoldenrod !important;
}

.bg-khaki {
	background: khaki !important;
}

.bg-darkkhaki {
	background: darkkhaki !important;
}

.bg-lavender {
	background: lavender !important;
}

.bg-thistle {
	background: thistle !important;
}

.bg-plum {
	background: plum !important;
}

.bg-violet {
	background: violet !important;
}

.bg-orchid {
	background: orchid !important;
}

.bg-fuchsia {
	background: fuchsia !important;
}

.bg-magenta {
	background: magenta !important;
}

.bg-mediumorchid {
	background: mediumorchid !important;
}

.bg-mediumpurple {
	background: mediumpurple !important;
}

.bg-rebeccapurple {
	background: rebeccapurple !important;
}

.bg-blueviolet {
	background: blueviolet !important;
}

.bg-darkviolet {
	background: darkviolet !important;
}

.bg-darkorchid {
	background: darkorchid !important;
}

.bg-darkmagenta {
	background: darkmagenta !important;
}

.bg-purple {
	background: purple !important;
}

.bg-indigo {
	background: indigo !important;
}

.bg-slateblue {
	background: slateblue !important;
}

.bg-darkslateblue {
	background: darkslateblue !important;
}

.bg-mediumslateblue {
	background: mediumslateblue !important;
}

.bg-greenyellow {
	background: greenyellow !important;
}

.bg-chartreuse {
	background: chartreuse !important;
}

.bg-lawngreen {
	background: lawngreen !important;
}

.bg-lime {
	background: lime !important;
}

.bg-limegreen {
	background: limegreen !important;
}

.bg-palegreen {
	background: palegreen !important;
}

.bg-lightgreen {
	background: lightgreen !important;
}

.bg-mediumspringgreen {
	background: mediumspringgreen !important;
}

.bg-springgreen {
	background: springgreen !important;
}

.bg-mediumseagreen {
	background: mediumseagreen !important;
}

.bg-seagreen {
	background: seagreen !important;
}

.bg-forestgreen {
	background: forestgreen !important;
}

.bg-green {
	background: green !important;
}

.bg-darkgreen {
	background: darkgreen !important;
}

.bg-yellowgreen {
	background: yellowgreen !important;
}

.bg-olivedrab {
	background: olivedrab !important;
}

.bg-olive {
	background: olive !important;
}

.bg-darkolivegreen {
	background: darkolivegreen !important;
}

.bg-mediumaquamarine {
	background: mediumaquamarine !important;
}

.bg-darkseagreen {
	background: darkseagreen !important;
}

.bg-lightseagreen {
	background: lightseagreen !important;
}

.bg-darkcyan {
	background: darkcyan !important;
}

.bg-teal {
	background: teal !important;
}

.bg-aqua {
	background: aqua !important;
}

.bg-cyan {
	background: cyan !important;
}

.bg-lightcyan {
	background: lightcyan !important;
}

.bg-paleturquoise {
	background: paleturquoise !important;
}

.bg-aquamarine {
	background: aquamarine !important;
}

.bg-turquoise {
	background: turquoise !important;
}

.bg-mediumturquoise {
	background: mediumturquoise !important;
}

.bg-darkturquoise {
	background: darkturquoise !important;
}

.bg-cadetblue {
	background: cadetblue !important;
}

.bg-steelblue {
	background: steelblue !important;
}

.bg-lightsteelblue {
	background: lightsteelblue !important;
}

.bg-powderblue {
	background: powderblue !important;
}

.bg-lightblue {
	background: lightblue !important;
}

.bg-skyblue {
	background: skyblue !important;
}

.bg-lightskyblue {
	background: lightskyblue !important;
}

.bg-deepskyblue {
	background: deepskyblue !important;
}

.bg-dodgerblue {
	background: dodgerblue !important;
}

.bg-cornflowerblue {
	background: cornflowerblue !important;
}

.bg-mediumslateblue {
	background: mediumslateblue !important;
}

.bg-royalblue {
	background: royalblue !important;
}

.bg-blue {
	background: blue !important;
}

.bg-mediumblue {
	background: mediumblue !important;
}

.bg-darkblue {
	background: darkblue !important;
}

.bg-navy {
	background: navy !important;
}

.bg-midnightblue {
	background: midnightblue !important;
}

.bg-cornsilk {
	background: cornsilk !important;
}

.bg-blanchedalmond {
	background: blanchedalmond !important;
}

.bg-bisque {
	background: bisque !important;
}

.bg-navajowhite {
	background: navajowhite !important;
}

.bg-wheat {
	background: wheat !important;
}

.bg-burlywood {
	background: burlywood !important;
}

.bg-tan {
	background: tan !important;
}

.bg-rosybrown {
	background: rosybrown !important;
}

.bg-sandybrown {
	background: sandybrown !important;
}

.bg-goldenrod {
	background: goldenrod !important;
}

.bg-darkgoldenrod {
	background: darkgoldenrod !important;
}

.bg-peru {
	background: peru !important;
}

.bg-chocolate {
	background: chocolate !important;
}

.bg-saddlebrown {
	background: saddlebrown !important;
}

.bg-sienna {
	background: sienna !important;
}

.bg-brown {
	background: brown !important;
}

.bg-maroon {
	background: maroon !important;
}

.bg-white {
	background: white !important;
}

.bg-snow {
	background: snow !important;
}

.bg-honeydew {
	background: honeydew !important;
}

.bg-mintcream {
	background: mintcream !important;
}

.bg-azure {
	background: azure !important;
}

.bg-aliceblue {
	background: aliceblue !important;
}

.bg-ghostwhite {
	background: ghostwhite !important;
}

.bg-whitesmoke {
	background: whitesmoke !important;
}

.bg-seashell {
	background: seashell !important;
}

.bg-beige {
	background: beige !important;
}

.bg-oldlace {
	background: oldlace !important;
}

.bg-floralwhite {
	background: floralwhite !important;
}

.bg-ivory {
	background: ivory !important;
}

.bg-antiquewhite {
	background: antiquewhite !important;
}

.bg-linen {
	background: linen !important;
}

.bg-lavenderblush {
	background: lavenderblush !important;
}

.bg-mistyrose {
	background: mistyrose !important;
}

.bg-gainsboro {
	background: gainsboro !important;
}

.bg-lightgray {
	background: lightgray !important;
}

.bg-silver {
	background: silver !important;
}

.bg-darkgray {
	background: darkgray !important;
}

.bg-gray {
	background: gray !important;
}

.bg-dimgray {
	background: dimgray !important;
}

.bg-lightslategray {
	background: lightslategray !important;
}

.bg-slategray {
	background: slategray !important;
}

.bg-darkslategray {
	background: darkslategray !important;
}

.bg-black {
	background: black !important;
}
